<div class="jumbotron jumbotron-fluid text-center pt-6 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-6 mx-auto">
				<h2>Qu'est ce qu'il se passe autour de chez toi ?</h2>

				<p>Voici une liste des évènements, tu peux aussi en ajouter un en cliquant sur le lien ci-dessous.</p>
				<hr class="my-4">	
				<p><%= link_to "Je crée mon évènement!", new_event_path, class: "btn btn-primary mb-0" %>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Un petit carroussel des familles pour montrer qqs fake events non cliquables -->
<div class="carouselContainer mt-3 mb-3 text-center">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			<li data-target="#carousel-example-generic" data-slide-to="5"></li>

		</ol>
	  	<!-- Wrapper for slides -->
	  		<div class="carousel-inner" role="listbox">
	    		<div class="carousel-item active">
	    			<%= image_tag ( "https://i.ytimg.com/vi/c3aCLfafpKY/maxresdefault.jpg"),style: 'height:550px;width:1100px;' %>
	    		</div>

	    		<div class="carousel-item">
	      			<%= image_tag ( "https://static.sportpaleisgroep.be/sportpaleis/img/events/2847/62ada91400cb075b16d48ac67cf7eb522f5e4f06/billboard.jpg"), style: 'height:550px;width:1100px;'%>
	    		</div>

	    		<div class="carousel-item">
	      			<%= image_tag ( "https://cdn.wegow.com/media/artists/adele/adele-1503056056.33.2560x1440.jpg"), style: 'height:550px;width:1100px;'%>
				</div>
				
				<div class="carousel-item">
	      			<%= image_tag ( "https://media.stubhubstatic.com/stubhub-catalog/d_defaultLogo.jpg/t_f-fs-0fv,q_auto:low,f_auto,c_fill,dpr_2.0,$w_750,$h_416/performer/488102/kmjwj4uiivtbtotecgp4"), style: 'height:550px;width:1100px;'%>
				</div>
				
				<div class="carousel-item">
	      			<%= image_tag ( "https://media2.ledevoir.com/images_galerie/nwd_777038_611870/image.jpg"), style: 'height:550px;width:1100px;'%>
				</div>
				
				<div class="carousel-item">
	      			<%= image_tag ( "https://cdn-media.rtl.fr/cache/ofofy8ztCVaOWy1wE0HTWw/880v587-0/online/image/2014/0611/7772540114_ray-charles.jpg"), style: 'height:550px;width:1100px;'%>
	    		</div>

	  		</div>
	  	<!-- Controls -->
	 		<a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
	  			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	        	<span class="sr-only">Previous</span>
	    	</a>
	    	<a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
	        	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	        	<span class="sr-only">Next</span>
	    	</a>
	</div>
</div>


<!-- Liste des events -->

	<div class="list-group col-6 mx-auto">
		<% @all_events.each do |event| %>

		<div class="row justify-content-center">
			<%= link_to event, class: "list-group-item list-group-item-action mb-0 col-9 mb-3" do %>
			<div class="row">
				<div class="col-9">
					<h5 class="mb-1"><%= event.title %></h5>
					<small><%= "de #{event.user.first_name} #{event.user.last_name}" %></small>
					<p><%= event.description %></p>
					<p>Quand ? <%= event.start_date %> </p>
					<p>Où ? <%= event.location %></p>
				</div>
				<div class="col-3 text-right">
					<p> <%= event.price %>€</p>
				</div>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>